body{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 92%;
    height: 30px;
    padding: 5px;
    font-size: large;
    border: 2px solid darkcyan;
    border-radius: 6px;
    outline: none;
    padding-left: 10px;
    margin-top: 25px;
}
button{
    width: 98%;
    height: 40px;
    border: none;
    background-color: darkcyan;
    color: white;
    border-radius: 6px;
    font-size: large;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
   background-color: rgba(0, 139, 139, 0.792);
}
.Check{
    margin-left: 35%;
    margin-top: 4%;
    padding: 20px 15px 5px 15px;
    box-shadow: rgba(0, 139, 139, 0.498) 0px 2px 8px 0px;
    width: 300px;
    height: 65px;
    padding-bottom: 140px;
    border-radius: 6px;
}
.heading{
    font-size: xx-large;
    font-weight: bolder;
    color: darkcyan;
}
img{
    width: 60px;
    height: 60px;
}
.img{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-bottom: -18px;
}
.windimg{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: -10px;
}

.one{
    margin-top: 10px;
}
.head{
    font-size: 30px;
    text-align: center;
    margin-left: -80px;
    font-weight: bold;
    text-transform: capitalize;
    color: darkblue;
    margin-top: -25px;
}
.weather{
    font-size: x-large;
    display: inline-block;
}
.temp{
    font-size: x-large;
}
.cloud,.humidity{
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
    margin-left: 20px;
}
.content{
    margin-top: 20px;
    padding-left: 50px;
    border-radius: 4px;
    width: 600px;
    height: 190px;
    margin-left: 300px;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 139, 0.466) 0px 2px 8px 0px;
    padding-bottom: 20px;
    color: darkblue;
    display: none;
}
span.one{
    margin-top: 6px;
}
.para{
    color: red;
    font-size: smaller;
}
.div{
    margin-top: -20px;
}
@media screen and (max-width:700px) {
   .content{
      width: 266px;
      margin-left: 0px;
   } 
   .Check{
      margin-left: 0px;
      margin-top: 20px;
      width: 286px;
   }
   body{
    padding: 20px;
   }
   .head {
    margin-left: -56px;
   }
   .div{
    margin-left: -26px;
   }
}